@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", sans-serif;
  overflow: auto;
  height: auto;
}
p {
  margin-top: 15px;
}
h2 {
  margin-top: 10px;
  color: #00a2c6;
}

h3 {
  margin-top: 10px;
  color: #00a2c6;
}
img {
  margin-top: 15px;
}
footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
}
nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
nav a:hover {
  font-weight: bold;
}
.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
.profile img {
  width: 200px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #dcdcdc;
  margin-top: 20px;
}
.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}
#nav {
  background-color: #00a2c6;
  padding: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}
nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
.table {
  text-align: left;
}
table {
  margin-top: 10px;
}
#content {
  float: left;
  width: 75%;
  overflow: auto;
}
#sidebar {
  text-align: center;
  float: right;
}
main {
  overflow: auto;
  padding: 20px;
}
header {
  display: inline;
}
footer {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  #content,
  #sidebar,
  aside {
    width: 100%;
    padding: 0;
  }
  .table {
    text-align: center;
  }
}
